<div class="bg-primary title-heading"><p><b>FILTER</b></p></div>
        <ol class="list-group view-filter list-group-numbered  striped-view " >
            <li class="border-bottom" >
                <a  href="?dep=all" class="fw-bold filter-option">ALL</a>          
            </li>   
            {% for dept in department%}
          <li class="border-bottom" >
              <a  href="?dep={{dept.name}} " class="fw-bold filter-option">{{dept}}</a>          
          </li>   
          {%endfor%}                  
      </ol>
      <hr>
      <ol class="list-group view-filter list-group-numbered striped-view" >
        <li class="p-2">
              <a  href="{% url 'principal'  list='admited' %}" class="fw-bold filter-option ">ADMITED LIST</a>                         
        </li>
        <li class="p-2">
            <a  href="{% url 'principal'  list='rejected' %}" class="fw-bold filter-option ">REJECTED LIST</a>                         
      </li>
     </ol>
     <br>
     <div class="container text-center">
     <button type="button" class="btn btn-success">Download</button>
        </div>  

      