<div class="bg-primary title-heading"><p>filter</p></div>
        <ol class="list-group view-filter list-group-numbered  striped-view " >
          <li class="border-bottom" >
              <a  href="/" class="fw-bold filter-option">OC</a>          
          </li>
          <li class="border-bottom">
                <a  href="#" class="fw-bold filter-option ">BC</a>                         
            </li>
            <li class="border-bottom" >
                <a  href="/" class="fw-bold filter-option">SC</a>                     
            </li>
            <li class="border-bottom">
                <a href="/"  class="fw-bold filter-option">ST</a>                        
            </li>
            <li class="border-bottom">
                <a href="/"  class="fw-bold filter-option">MBC</a>             
           </li>                      
      </ol>
      <hr>
      <ol class="list-group view-filter list-group-numbered striped-view" >
        <li >
            <a  href="/" class="fw-bold filter-option">LIST</a>          
        </li>
        <li >
              <a  href="#" class="fw-bold filter-option ">SELECTION LIST</a>                         
        </li>
     </ol>
     <br>
     <div class="container text-center">
     <button type="button" class="btn btn-success">Download</button>
        </div>  

      