<div class="bg-primary title-heading"><p><b>FILTER</b></p></div>
<ol class="list-group view-filter list-group-numbered striped-view">
    <li class="border-bottom">
        <a href="?cat=oc" class="fw-bold filter-option">OC</a>
    </li>
    <li class="border-bottom">
        <a href="?cat=bc" class="fw-bold filter-option">BC</a>
    </li>
    <li class="border-bottom">
        <a href="?cat=bcm" class="fw-bold filter-option">BCM</a>
    </li>
    <li class="border-bottom">
        <a href="?cat=sc" class="fw-bold filter-option">SC</a>
    </li>
    <li class="border-bottom">
        <a href="?cat=sca" class="fw-bold filter-option">SCA</a>
    </li>
    <li class="border-bottom">
        <a href="?cat=st" class="fw-bold filter-option">ST</a>
    </li>
    <li class="border-bottom">
        <a href="?cat=mbc" class="fw-bold filter-option">MBC</a>
    </li>
</ol>