<div class="bg-primary title-heading"><p><b>FILTER</b></p></div>
<ol class="list-group view-filter list-group-numbered striped-view">
    <li class="border-bottom">
        <a href="?cot=oc" class="fw-bold filter-option">OC</a>
    </li>
    <li class="border-bottom">
        <a href="?cot=bc" class="fw-bold filter-option">BC</a>
    </li>
    <li class="border-bottom">
        <a href="?cot=bcm" class="fw-bold filter-option">BCM</a>
    </li>
    <li class="border-bottom">
        <a href="?cot=mbc" class="fw-bold filter-option">MBC</a>
    </li>
    <li class="border-bottom">
        <a href="?cot=sc" class="fw-bold filter-option">SC</a>
    </li>
    <li class="border-bottom">
        <a href="?cot=sca" class="fw-bold filter-option">SCA</a>
    </li>
    <li class="border-bottom">
        <a href="?cot=st" class="fw-bold filter-option">ST</a>
    </li>
   
</ol>