<div class="container m-0 p-0 border  border-4" style="max-width: 99%; ">
  <!-- personal details -->
    <div class="row">
      <div class="col-md-10">
        <table class="table table-striped-nonsticky m-3 border border-4">
          <thead>
            <tr>
             <th colspan="2" style="text-align: center;">PERSONAL INFORMATION</th>
            </tr>
          </thead>
          <tbody>
           <tr>
            <th scope="row">application no</th>
            <td>254461</td>
           </tr>
           <tr>
            <th scope="row">name</th>
            <td>sivanesan m</td>
           </tr>
           <tr>
            <th scope="row">father name</th>
            <td>murugasen g</td>
           </tr>
           <tr>
            <th scope="row">gender</th>
            <td>male</td>
           </tr>
           <tr>
            <th scope="row">date of birth</th>
            <td>03-12-2003</td>
           </tr>
           <tr>
            <th scope="row">community</th>
            <td>mbc</td>
           </tr>
           <tr>
            <th scope="row">religion</th>
            <td>hindu</td>
           </tr>
           <tr>
            <th scope="row">marital status</th>
            <td>single</td>
           </tr>
           <tr>
            <th scope="row">pysically chalanged</th>
            <td>no</td>
           </tr>
           <tr>
            <th scope="row">sports</th>
            <td>no</td>
           </tr>
           <tr>
            <th scope="row">religion</th>
            <td>hindu</td>
           </tr>
           <tr>
            <th scope="row">aadthar number</th>
            <td>255595856565</td>
           </tr>
           <tr>
            <th scope="row">address</th>
            <td >
              523,athiparasacthi nagar, ayympalayam pudur, ayyampalayam,thiruvannamali,606603
            </td>
           </tr>
          </tbody>
        </table>
      </div>
        <div class="col-md-2 " style="margin-top: 10%;">
          <div >
          <img src="https://via.placeholder.com/600x600" alt="photo" class="border border-4 img-thumbnail" ></div>
        </div>
    </div>
    <!-- tille deocuments -->
    <div class="row m-0 p-0" >
      <div class="col-md-12 m-0 p-0" >
        <h1 class="text-center">Documents</h1>
      </div>
      </div>
      <!-- document list -->
      <div class="row">
        <div class="col-md-12 m-0 p-0" style="width: 99%;">
          <div class="accordion accordion-flush" id="doc-group-1">
            <div class="accordion-item">
              <h2 class="accordion-header text-center ">
                <button class="accordion-button collapsed justify-content-center " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <b>Aadthar</b>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#doc-group-1" >
              <div class="accordion-body d-flex justify-content-center align-items-center bg">
                <img src="https://via.placeholder.com/600x600" alt="Passport Size Image">
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header text-center ">
              <button class="accordion-button collapsed justify-content-center align-items-center bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <b>Community</b>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#doc-group-1" >
              <div class="accordion-body d-flex justify-content-center align-items-center bg ">
                <img src="https://via.placeholder.com/600x600" alt="Passport Size Image">
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header text-center ">
              <button class="accordion-button collapsed justify-content-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
               <b>Mark Sheet</b>
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#doc-group-1" >
              <div class="accordion-body d-flex justify-content-center align-items-center bg">
                <img src="https://via.placeholder.com/600x600" alt="Passport Size Image">
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header text-center ">
              <button class="accordion-button collapsed justify-content-center align-items-center bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                <b>Other Document</b>
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#doc-group-1" >
              <div class="accordion-body d-flex justify-content-center align-items-center bg ">
                <img src="https://via.placeholder.com/600x600" alt="Passport Size Image">
              </div>
            </div>
          </div>
        </div>
        
      </div>

    </div>

    <!-- EDUCATION details -->
    <div class="row m-0 p-0">
      <div class="col-md-12 m-0 p-0">
        <table class="table table-striped-nonsticky  border border-4">
          <thead>
            <tr>
             <th colspan="2" style="text-align: center;">EDUCATION DETAILS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">instiution name</th>
              <td>kkgac</td>
             </tr>
             <tr>
              <th scope="row">degree</th>
              <td>bsc computer science</td>
             </tr>
             <tr>
              <th scope="row">mode of study</th>
              <td>regular</td>
             </tr>
             <tr>
              <th scope="row">medium</th>
              <td>english</td>
             </tr>
             <tr>
              <th scope="row">academic year</th>
              <td>2021-2024</td>
             </tr>
             <tr>
              <th scope="row">percentage</th>
              <td>99%</td>
             </tr>

          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <!-- CONTACT DETAILS -->
    <div class="row m-0 p-0">
      <div class="col-md-12 m-0 p-0">
        <table class="table table-striped-nonsticky  border border-4">
          <thead>
            <tr>
             <th colspan="2" style="text-align: center;">CONTACT DETAILS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"> phone number</th>
              <td>8870480598</td>
             </tr>
             <tr>
              <th scope="row">email</th>
              <td>msivanesan2003@gmail.com</td>
             </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
