<div class="container m-0 p-0 border  border-4" style="max-width: 99%; ">
  <!-- personal details -->
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped-nonsticky m-3 border border-4">
          <thead>
            <tr>
             <th colspan="2" style="text-align: center;">STUDENT INFORMATION</th>
            </tr>
          </thead>
          <tbody>
           <tr>
            <th scope="row">application no</th>
            <td>{{data.student.username}}</td>
           </tr>
           <tr>
            <th scope="row">name</th>
            <td>{{data.name}}</td>
           </tr>
           <tr>
            <th scope="row">Department</th>
            <td>{{data.Department.name}}</td>
           </tr>
           <tr>
            <th scope="row">gender</th>
            <td>male</td>
           </tr>
           <tr>
            <th scope="row">percentage</th>
            <td>{{data.percentageoptained}}</td>
           </tr>
           <tr>
            <th scope="row">community</th>
            <td>{{data.community}}</td>
           </tr>
           <tr>
            <th scope="row">phone number</th>
            <td>{{data.student.phone_number}}</td>
           </tr>
           <tr>
            <th scope="row">email</th>
            <td>{{data.student.email}}</td>
           </tr>
          
          </tbody>
        </table>
      </div>
    </div>
    </div>
    