@import "../bootstrap/scss/bootstrap.scss";
@import "variable";


body{
  margin: 0;
  padding: 0;
  margin: border-box;
}
// make scrolabe
.scrollable-div{
  height: 80vh;
  overflow-y: auto;
}

// baground
.bg{
    background-color: $background;
}

.clglogo{
    background-color: rgb(150, 0, 0);
    height: 15vh;
}

.contentbody{
    height: 84vh;


}
.group-list{
    padding: 1.2rem;
}


/* Style for odd items */

.striped-view{
    li{
      &:nth-child(odd) {
        background-color: $secondary;
        text-transform: uppercase;
      }
      
      /* Style for even items */
      &:nth-child(even) {
        background-color: $white ;
        text-transform: uppercase;
      }
    }
        
    
  }

  .title-heading{
    height: 4rem;
    width: 100%;
    text-align:center ;
    p{
      position: relative;
      color: $balck;
      padding-top: 15px;
      text-transform: uppercase;
    }
  }

  .pill-button{
    padding: 10px;
    border-radius: 100px;
    color: $white;
  }
  .content{
    height: 85vh;
  }

  .filter-option{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
  }
  
  .view-filter{
    background: $white;
    li{
      display: block;
    }
    
  }



.table-striped {
  thead{
    th{
      position: sticky;
      top:0;
      height: 4rem;
      background: #0d6efd;
      padding-bottom: 1.2rem;
    }
  }
  tbody {
    tr {
      // Nesting th, td inside odd rows
      &:nth-child(odd) {
        th, td {
          text-transform: capitalize;
          background-color: $secondary;
        }
      }

      // Nesting th, td inside even rows
      &:nth-child(even) {
        th, td {
          text-transform: capitalize;
          background-color: $white;
        }
      }
    }
  }
}
