@import "../bootstrap/scss/bootstrap.scss";
@import "variable";


body{
  margin: 0;
  padding: 0;
  margin: border-box;
}
// make scrolabe
.scrollable-div{
  height: 89vh;
  overflow-y: auto;
}

// baground
.bg{
    background-color: $background;
}

.clglogo{
    height: 10vh;
    background-color: antiquewhite;
}

.contentbody{
    height: 89vh;


}
.group-list{
    padding: 1.2rem;
}


/* Style for odd items */

.striped-view{
    li{
      &:nth-child(odd) {
        background-color: $secondary;
        text-transform: uppercase;
      }
      
      /* Style for even items */
      &:nth-child(even) {
        background-color: $white ;
        text-transform: uppercase;
      }
    }
        
    
  }

  .title-heading{
    height: 4rem;
    width: 100%;
    text-align:center ;
    p{
      position: relative;
      color: $balck;
      padding-top: 15px;
      text-transform: uppercase;
    }
  }

  .pill-button{
    padding: 10px;
    border-radius: 100px;
    color: $white;
  }
  .content{
    height: 85vh;
  }

  .filter-option{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
  }
  
  .view-filter{
    background: $white;
    li{
      display: block;
    }
    
  }



.table-striped {
  thead{
    th{
      position: sticky;
      top:0;
      height: 4rem;
      background: #0d6efd;
      padding-bottom: 1.2rem;
    }
  }
  tbody {
    tr {
      // Nesting th, td inside odd rows
      &:nth-child(odd) {
        th, td {
          text-transform: capitalize;
          background-color: $secondary;
        }
      }

      // Nesting th, td inside even rows
      &:nth-child(even) {
        th, td {
          text-transform: capitalize;
          background-color: $white;
        }
      }
    }
  }
}


// flaoting window for controler
.float-window {
  max-height: 70vh;
  width: 50vw; // Consider if width should be vw for viewport width consistency
  position: fixed;
  top: 15vh;
  left: 25%; 
  overflow-y: auto;// Allows scrolling for more than 10 items
}

.deptopt {
  width: 100%;
  height: 10%; // Ensure this works well with the number of items you have
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;

  a {
    color: $white;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: large;
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 10px 0; // Centers text vertically
  }

  &:hover {
    background: azure;
    a {
      color: black;
    }
  }
}


// passport size image
.img-passport{
  max-width: 300px;
  max-height: 300px;
}

.table-striped-nonsticky {
  thead{
    th{

      height: 4rem;
      background: #0d6efd;
      padding-bottom: 1.2rem;
    }
  }
  tbody {
    tr {
      // Nesting th, td inside odd rows
      &:nth-child(odd) {
        th, td {
          text-transform: capitalize;
          background-color: $secondary;
        }
      }

      // Nesting th, td inside even rows
      &:nth-child(even) {
        th, td {
          text-transform: capitalize;
          background-color: $white;
        }
      }
    }
  }
}

/* styles.css */
.form-control::placeholder {
  color: rgb(34, 13, 228);
}
/* For cross-browser compatibility */
.form-control:-ms-input-placeholder {
  color: rgb(34, 13, 228);
}
.form-control::-ms-input-placeholder {
  color: rgb(34, 13, 228);
}

  .loading {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
    cursor: pointer;
    text-align: center;

    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

.pg-dataform{
  
  div{
    display: block;
    margin-bottom: 10px;
    justify-content: center;
    
    label{
      color: brown;
      margin-left: start;
      margin-right: auto;
      text-transform: uppercase;    
    }
  }
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}
.login-container {
text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.login-container h2 {
  text-align: center;
  margin: 0 0 20px 0;
}
.input-group {
  position: relative;
  margin-bottom: 20px;
}
input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.password-toggle {
  position: absolute;
  right: 10px;
  top: calc(50% - 8px);
  cursor: pointer;
}


.splash-text {
  font-size: 48px;
  font-weight: bold;
  opacity: 0;
  color: red;
  transform: scale(0);
  animation: splashEffect 1s infinite;
}

@keyframes splashEffect {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0.8);
  }
}