{% extends "main.html"%}

{% block title %}Home{% endblock %}
{%block content%}
<div class="row clglogo border-bottom border-4">
    <div class="col-sm-12  col-md-12 col-xl-12 col-xxl-12">
        <marquee behavior="" direction="left" style="margin-top: 15px; color: black; width: 80%;"><b>kalaignar karunanidhi government arts college</b></marquee>
        <a href="cusadmin/" class="btn " style="margin-top: 5px; right: 0; background-color: blue;">Admin</a>
        <a href="{% url 'login' %}" class="btn " style="margin-top: 5px; right: 0; background-color: blue;">Login</a>
    </div> 
    </div>
    <div class="container" style="text-align: justify; text-transform: capitalize;">
     <h1 class="text-align-center"><b>CONSLING WEBSITE OF KKGAC TIRUVANNMALAI</b></h1>
    </div>
    {%endblock%}