{% extends "main.html"%}

{% block title %}Home{% endblock %}
{%block content%}
<div class="row clglogo border-bottom border-4">
    <div class="col-sm-12  col-md-12 col-xl-12 col-xxl-12">
        <marquee behavior="" direction="left" style="margin-top: 15px; color: black; width: 90%;"><b>kalaignar karunanidhi government arts college</b></marquee>
        <a href="{% url 'login' %}" class="btn " style="margin-top: 5px; right: 0; background-color: blue;">Login</a>
    </div> 
    </div>
    <div class="container" style="text-align: justify; text-transform: capitalize;">
   quaerat repudiandae doloribus illo cum, cupiditate harum explicabo numquam obcaecati laboriosam unde natus quis voluptatibus ullam exercitationem quia dolor iste ratione nulla, quos, molestiae excepturi. Excepturi, commodi?
   Deserunt dolores libero inventore dolor error pariatur aperiam sint eveniet est ea saepe a beatae optio, sequi, eius rerum quibusdam cum voluptatibus illum corrupti soluta. Maiores voluptates tenetur maxime ipsum.
   Eum vero illo assumenda suscipit at perspiciatis in ipsam temporibus officiis dolorem adipisci aperiam odit nostrum necessitatibus, velit ea eius vel distinctio! Quibusdam nisi exercitationem sed, quia voluptates voluptatibus beatae.
   Eligendi, qui quae culpa nobis similique ullam delectus harum repellendus eaque eos et in ipsam molestias blanditiis minus praesentium, odit perferendis. Repellendus iusto impedit sed at, accusantium officiis magni rem.
   Eligendi et placeat culpa beatae ducimus, vitae ad quaerat adipisci. Similique cupiditate debitis nam numquam quos! Quos aperiam aut amet quam, numquam laboriosam, tenetur voluptatibus nihil enim temporibus repellendus provident?
   A, esse. Atque, sed dignissimos voluptatem nisi quas laboriosam temporibus odio ducimus earum est quo neque sint! Odit architecto modi ullam magni minima saepe consequatur quas dolorum fuga, vel excepturi!
   Non est odit et exercitationem dolore ullam beatae quaerat repudiandae consectetur numquam, officia molestiae pariatur. Soluta, tempore nemo, saepe enim dignissimos non quas nihil a iste numquam quis eum nulla!
   A, earum facere, ipsa beatae, excepturi suscipit nesciunt eos aspernatur tempora reprehenderit voluptatibus. Ab deserunt, voluptates ipsam cumque distinctio delectus! Animi similique voluptates rem recusandae cupiditate vel. Unde, quam dolores?
   Incidunt, distinctio autem veritatis praesentium animi impedit harum ullam consectetur officia earum id sapiente inventore officiis ex deleniti labore minima beatae at molestiae maxime quisquam quam exercitationem ipsam? Placeat, labore.
   Ullam quae maiores neque esse repellat nihil nesciunt, architecto quisquam dolores dolorem suscipit modi in sed veniam delectus aliquam debitis laboriosam accusamus nam fugiat earum optio enim odit? Eveniet, labore.
   Itaque dolores aut doloribus quos consectetur doloremque quibusdam veniam natus fugit corrupti modi error, optio deserunt inventore. Magni, eaque totam voluptates, praesentium eius autem cupiditate tempora, laudantium voluptate animi provident!
   Ex magnam ad quod voluptate ipsam ducimus omnis eos provident dolor maxime sapiente eum debitis suscipit inventore, corporis commodi necessitatibus tempore at architecto sint quia quam temporibus sequi? Hic, dignissimos?
   Placeat nam repudiandae consequuntur praesentium odit aut vitae, veritatis, ab voluptate tempore voluptatibus non ipsa aspernatur expedita. Iste ducimus, dolores debitis assumenda possimus adipisci, quisquam fuga cumque sed consectetur aliquid.
   Voluptatum cumque illo laborum molestiae eligendi veritatis commodi consequuntur assumenda eius magnam earum inventore nam, iure aliquid officiis modi aut sed nihil, ex a minus quae. Praesentium facere voluptate maiores.
   Magnam ea eos laborum, animi inventore quisquam asperiores eligendi aut tenetur, nostrum hic quaerat quis dignissimos dicta id consequuntur excepturi sed iure nihil quo libero sapiente voluptas consectetur! Ut, deleniti.
   Laborum porro provident dolores similique sed, ad fugit impedit suscipit molestias facilis expedita! Fuga fugit maiores minima repellat harum nesciunt dolorem sint iste officiis veniam, rerum illum unde quae eligendi.
   Quaerat explicabo magnam magni sequi, tenetur nemo in consectetur vel tempore enim voluptatum non animi nobis labore. Tenetur nobis corrupti omnis, vitae accusamus incidunt, fugit magnam earum veritatis veniam sit!
   Vitae voluptatum exercitationem velit! Ab nisi expedita ducimus? Obcaecati rerum voluptas dolorum enim amet quo vitae velit necessitatibus blanditiis facilis, nisi perspiciatis minima autem voluptate accusamus, sunt aspernatur soluta qui.
   Quo odit nihil vitae error dolor? Ex ratione, quibusdam ad, quos, saepe magni tempore perferendis odio assumenda a nulla eaque incidunt nostrum! Beatae quas sunt suscipit laboriosam, doloremque officiis fuga?
   Corporis fugit deserunt quia quos tempora commodi culpa possimus dignissimos enim? Aliquid quibusdam nulla omnis enim numquam fuga, voluptatibus corporis ea autem obcaecati vero voluptatum recusandae iste error incidunt nisi.
    </div>
    {%endblock%}