<!-- login.html -->
{% extends "main.html"%}
{% block title %}login{% endblock %}

{%block content%}

<div style="display: flex; justify-content: center;">
{%if error%}
<p class="splash-text"><b>{{error}}</b></p>
{%endif%}
</div>
<div class="login">
<form method="post">
    {% csrf_token %}
    <div class="login-container">
        <h2>Login</h2>
        <div class="input-group">
            <input type="text" name="username" placeholder="Username" required style="margin-bottom: 10px;">
        </div>
        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <span class="password-toggle" onclick="togglePasswordVisibility()">
                👁️
            </span>
        </div>
        <button type="submit" style="width: 100%; padding: 10px; border: none; background-color: #007bff; color: white; border-radius: 5px; margin-bottom: 5px;">Login</button>
        <a href="{%url 'resend_user'%}"  class="btn" style="width: 100%; padding: 10px; border: none; background-color: #007bff; color: white; border-radius: 5px;">Resend user name</a>
    </div>
    
</form>
</div>
{%endblock%}