{% extends "admin/base.html" %}

{% block extrastyle %}
<style>
    #loading {
        display: none; /* Hidden by default */
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black with a bit of opacity */
        z-index: 2;
        cursor: pointer;
        text-align: center;
    }

    #loading img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}
.login-container {
text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.login-container h2 {
  text-align: center;
  margin: 0 0 20px 0;
color: #000;
}
.input-group {
  position: relative;
  margin-bottom: 20px;
}
.input-group label{
    color: #000;
}
input[type="file"]{
  width: 100%;
  padding: 10px;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
</style>
{% endblock %}

{% block content %}
<div id="loading">
    <img src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif" alt="Loading...">

</div>
<div class="login">
<form action="" method="post" enctype="multipart/form-data" id="uploadForm">
    {% csrf_token %}
    <div class="login-container">
        <h2>upload</h2>
        <div class="input-group">
            <label for="import_file"><b>CSV File</b></label>
    <input type="file" name="datafile" id="import_file" required>
</div>
    <button type="submit" style="background-color: green;">Upload</button>
</div>
</form>
</div>
<script>
document.getElementById('uploadForm').onsubmit = function(e) {
    e.preventDefault(); // Prevent the normal form submission
    document.getElementById('loading').style.display = 'block';
    
    var formData = new FormData(this);
    console.log(formData)
    fetch(this.action, {
        method: 'POST',
        body: formData,
    })
    .then(response => {
    if(response.ok && response.headers.get("Content-Type").includes("text/csv")) {
        return response.blob(); // Proceed if the response is a CSV file
    } else {
        document.getElementById('loading').style.display = 'none';
        // Optionally, log or display the unexpected Content-Type for debugging
        console.error('Unexpected Content-Type:', response.headers.get("Content-Type"));
        throw new Error('Unexpected response type.');
    }
    })
    .then(blob => {
        var url = window.URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = url;
        a.download = 'data_list.csv';
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
        a.remove(); // This is more consistent across browsers than document.body.removeChild(a);
        document.getElementById('loading').style.display = 'none';
        setTimeout(function() {
            window.location.reload();
        }, 100); 
    })
    .catch(error => {
        console.error('Error:', error);
        alert("Failed to process the file download.");
        // Keep the loading screen hidden in case of error
    });
};
</script>
{% endblock %}
