{% include 'pg/components/cota.html' %}
      <hr>
      <ol class="list-group view-filter list-group-numbered striped-view" >
        <li class="p-2 bg-primary">
            <a  href="{% url 'deptcontrol' %}" class="fw-bold filter-option ">DASHBORD</a>                         
        </li>
        <hr>
        <li class="p-2">
            <a  href="{% url 'depcontroler' department=department.name list='applied' %}" class="fw-bold filter-option">APPLIED LIST</a>          
        </li>
        <li class="p-2">
            <a  href="{% url 'depcontroler' department=department.name list='truned up' %}" class="fw-bold filter-option">SELECTION LIST</a>          
        </li>
        <li class="p-2">
            <a  href="{% url 'depcontroler' department=department.name list='not turned up' %}" class="fw-bold filter-option">NOT-TURNED-UP LIST</a>          
        </li>
        <li class="p-2">
              <a  href="{% url 'depcontroler' department=department.name list='selected' %}" class="fw-bold filter-option ">SELECTED LIST</a>                         
        </li>
        <li class="p-2">
            <a  href="{% url 'depcontroler' department=department.name list='rejected' %}" class="fw-bold filter-option ">REJECTED LIST</a>                         
        </li>
        

     </ol>
     <br>
     <div class="container text-center">
     <button type="button" class="btn btn-success">Download</button>
    </div>  

      