{% extends "main.html"%}
{% block title %}controler{% endblock %}

{% block content %}

<div class="container-fluid m-0 p-0" style="max-width: 99%;">
    {% include 'logoutbar.html' %} 
    <div class="row ">
        <div class="col-md-2 col-xl-2 col-xxl-2 m-0 p-0" style="overflow-y: auto; height: 87vh;">
            {% include 'pg/components/seatavalabe.html' %}
        </div>
        <div class="col-md-8 col-xl-8 col-xxl-8 bg ">
            {% include 'pg/components/studentlist.html' %}

        </div>
        <div class="col-md-2 col-xl-2 col-xxl-2 bg  m-0 p-0" style="background-color: white; overflow-y: auto; height: 87vh;">
            {% include 'controler/filter.html' %}
        </div>
    </div>
</div>

{% endblock %}

