<div class="bg-primary title-heading"><p><b>FILTER</b></p></div>
        <ol class="list-group view-filter list-group-numbered  striped-view " >
            <li class="border-bottom" >
                <a  href="?dep=all" class="fw-bold filter-option">ALL</a>          
            </li>   
            {% for dept in department%}
        <li class="border-bottom" >
            <a  href="?dep={{dept.name}} " class="fw-bold filter-option">{{dept}}</a>          
        </li>   
            {%endfor%}                  
    </ol>
    <hr>
<br>
    <div class="container text-center">
        <form action="" method="post">
            {% csrf_token %}
        <button type="submit" name="action" value="download" class="btn btn-success" style="margin-bottom: 10px;">Download</button>
        </form>
    </div>  